<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/abstract-arrow-with-pages-5603ld.png" />
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Some Bank - Home</title>
</head>
<body>
    <div id="render-navbar"></div>

    <a href="./get-checking.html">Get Checking</a><br><br>
    <a href="./update-user/name.html">Update Name</a><br><br>
    <a href="./update-user/password.html">Update Password</a><br><br>
    <a href="./update-user/username.html">Update Username</a><br><br>
    <a href="./update-user/birthday.html">Update Birthday</a><br><br>
    <a href="./update-user/email.html">Update Email</a><br><br>
    <a href="./update-user/gender.html">Update Gender</a>

    <div id=container>
        <ul id="transactions">
            <!-- REMEMBER: Change Users link to home link later on. -->
            <li class="tran-elms">
                <button class="tran-buttons">
                    <a class="tran-links" href="./perform-transaction.html">Withdraw/Deposit</a>
                </button>
            </li>
            <li class="tran-elms">
                <button class="tran-buttons">
                    <a class="tran-links" href="*">Transactions</a>
                </button>
            </li>
            <li class="tran-elms">
                <button class="tran-buttons">
                    <a class="tran-links" href="./create-checking.html">Create Checking Account</a>
                </button>
            </li>
        </ul>
    </div>

    <script src="/scripts/render-navbar.js"></script>
    <script src="/scripts/index.js"></script>
</body>
</html>