<header id="navigation">
    <a href="http://127.0.0.1:5500/views/index.html"><img id="logo" src="/images/abstract-arrow-with-pages-5603ld.png" alt="logo"></a>
    <nav>
        <ul class="nav__links">
            <li class="li-elms"><a href="./index.html" class="links">Home</a></li>
            <li class="li-elms"><a href="./users.html" class="links">Users</a></li>
            <li class="li-elms"><a href="#" class="links">About</a></li>
        </ul>
    </nav>

    <ul class="nav__links" id="registration">
        <p id="Greeting"></p>
        <a href="*" class="accountOperations">Update Account</a>
        <a href="http://127.0.0.1:5500/views/delete-user.html" class="accountOperations">Delete Account</a>
        <button class="sign-out-button" id="logout"><a class="links">Logout</a></button>
    </ul>
</header>