<header id="navigation">
    <a href="http://127.0.0.1:5500/views/index.html"><img id="logo" src="/images/abstract-arrow-with-pages-5603ld.png" alt="logo"></a>
    <nav>
        <ul class="nav__links">
            <!-- REMEMBER: Change Users link to home link later on. -->
            <li class="li-elms"><a href="./users.html" class="links">Users</a></li>
            <li class="li-elms"><a href="#" class="links">Contact</a></li>
            <li class="li-elms"><a href="#" class="links">About</a></li>
        </ul>
    </nav>

    <ul class="nav__links" id="registration">
        <li class="li-elms"><a href="./sign-up.html" class="links">Register</a></li>
        <button class="sign-in-button" id="login">Login</button>
    </ul>
</header>