#btn-female {
    background-color: #fff;
    border-color:#bbb;
}

#btn-male {
    background-color: #fff;
    border-color:#bbb;
}

#btn-custom {
    background-color: #fff;
    border-color:#bbb;
}

#button-sub {
    background-color: #0CA902;
}